.advantages__lists {
    // padding: 35px 40px 0 80px;

    br {
        display: none;
    }

    @media (min-width: $tablet-width) {
        grid-column: 1 / -1;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin: 0;
        padding: 0;
        list-style-type: none;
        }
}

.advantages__items {
    @media (min-width: $tablet-width) {
        display: grid;
        align-content: start;
        gap: 20px;
        width: 100%;
        min-height: 384px;
        padding: 30px;
        padding-top: 184px;
    } 
}

// .advantages__item:nth-child(even) {
//     background-color: $whate;
// }

.advantages__items-title {
    margin: 0;
    br {
        display: none;
    }

    @media (min-width: $tablet-width) {
        text-align: center;
}
}

.advantages__items-text {
    margin: 0;
    margin-top: 26px;
    margin-bottom: 26px;
    br {
        display: none;
    }

    @media (min-width: $tablet-width) {
        text-align: center;
}
}