.advantages__list {
    padding: 0;
    margin: 0;
    // counter-reset: advantages;
      
    @media (min-width: $tablet-width) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      margin: 0;
      padding: 0;
      }
  }
  
  .advantages__item{
    list-style-type: none;
    // counter-reset: advantages;

    @media (min-width: $tablet-width) {
      display: grid;
      gap: 30px;
    }
  }

  .advantages__item-large {
    min-width: 100%;

      @media (min-width: $tablet-width) {
        grid-column: 1 / -1;
        grid-template-columns: repeat(3, 1fr);
        gap: 0;
        padding: 0;
    }
  }
  
  .advantages__description {
    // min-width: 100%;
    height: 211px;
    background-color: $blue;
    color: $whate;
  }

  // .advantages__description::before {
  //   content: "- №" counter(advantages) " -";
  // }
  
  .advantages__title {
    margin: 0;
    padding-top: 55px;
    padding-bottom: 45px;
    text-align: center;
  }

  .advantages__photo {
    @media (min-width: $tablet-width) {
    grid-column: 2 / -1;
    }
  }

  // .advantages__image {   //возможно исправится после добавления фото по размерам
  //   grid-column: span 2;
  //   width: 100%;
  //   height: 0;
  //   object-fit: cover;

  // }
  
  .advantages__description-favor {
    background-color: $mediumgrey;
  }

//   .advantages__description-favor:last-child { задать линии через befor
//     border-bottom: 1px solid $grey;
//   }
  
  .advantages__text {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
    margin: 0;
  }
  

  
  
  