.advantages__wrapper {
    width: 320px;
    height: 162px;
    margin: 0 auto;
    padding: 0 17px;
    margin-bottom: 27px;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    @media (min-width: $tablet-width) {
        width: 768px;
      }
    
      @media (min-width: $desktop-width) {
        width: 1200px;
      }
}

.advantages__intro {
  font-size: 14px;
  line-height: 26px;
}



