.feedback__section {
    margin-bottom: 20px;
  }
  @media (min-width: $tablet-width) {
  .feedback__section--contact {
    grid-column: 1/3;
   }

  .feedback__section--impression {
   grid-column: 1/2;
   grid-row: 1/2;
  }
}
  
  .feedback__section-title {
    font-size: 18px;
    margin: 20px 0 15px 0;
    text-align: center;
  }
  
  .feedback__input-group {
    display: flex;
    align-items: baseline;
    margin-bottom: 15px;
    @media (min-width: $tablet-width) {
      margin-left: 58px;
        }
  }

  .feedback__input-phone,
  .feedback__input-email {
    display: flex;
    flex-direction: column;
  }

  .feedback__label {
    display: block;
    font-size: 14px;
    margin-right: 10px; 
  }

  .feedback__label-phone,
  .feedback__label-email {
    margin: 15px 0 8px 21px ; 
  }
  
  .feedback__input {
    width: 100%;
    height: 58px;
    padding: 10px 10px 10px 21px;
    border: none;
    font-size: 14px;
    background-color: $lightgrey;
    
  }
  
  .feedback__input[readonly] {
    background-color: $lightgrey;
    cursor: not-allowed;
  }

  .feedback__radio-input {
    margin: 0;
    margin-right: 20px;
  }
  
  input[type="radio"] {
    accent-color: $black;
    width: 48px;
    height: 48px;
  }

  input[type="checkbox"]{
    accent-color: $whate;
    width: 48px;
    height: 48px;
    
  }

  .feedback__checkbox-input {
    margin-right: 30px;
   
}
  
  .feedback__radio-group,
  .feedback__checkbox-group {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: $tablet-width) { //почему то криво стоит
    .feedback__checkbox-group {
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     justify-items: center;
  }
}
  
  .feedback__radio-label,
  .feedback__checkbox-label {
    display: flex;
    align-items: center;
    padding: 10px 10px 10px 0;
    max-width: fit-content; // от случайного нажатия на чекбокс.
    text-transform: capitalize; 
    font-weight: bold;
    font-size: 18px;
  }
  
  .feedback__textarea {
    background-color: $lightgrey;
    width: 100%;
    height: 100px;
    padding: 10px;
    border: none;
    font-size: 14px;
    resize: vertical;
    margin-bottom: 50px;
  }

  