.feedback {
    background-color: #fff;
    padding: 20px;
    max-width: 100%;
    @media (min-width: $tablet-width) {
      margin: 0 60px 0 60px ;
      padding: 0;
  }

  }
  
  .feedback__title {
    font-size: 24px;
    margin: 20px 0 35px 0;
    text-align: center;
  }
  
  .feedback__subtitle {
    font-size: 14px;
    color: #666;
    text-align: center;
    margin-bottom: 20px;
  }

   // как сделать по всей ширине экрана линию?
  .feedback__line {
   width: 100%;
   height: 1px;
   color: $mediumgrey;
  }