.field {
  display: flex;
  
  &-input {
    width: 100%;
    // margin: 0;
    padding: 8px 20px;
    background-color: #f2f2f2;
    border: 2px solid transparent;
    border-radius: 4px;
    font-family: inherit;
    font-size: 18px;

    &__arrival-date {
      position: relative;
      top: -38px;
      left: 560px;
    }

    &__departure-date {
      position: absolute;
      top: 105px;
      left: 560px;
    }
  }

  &-search {
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-template-rows: 50px;
    column-gap: 40px;
    row-gap: 4px;


    .field-title {
      align-self: center;
      font-weight: 700;
      text-transform: initial;
      width: 140px;
    }

    .field-input {
      font-weight: 700;
    }
  }

  &-message {
    grid-column: 2 / -1;
    text-transform: initial;
    font-size: 16px;
    margin-left: 25px;

  }

  &-info {
    position: relative;
    width: 25px;
    height: 25px;
    margin-left: 10px;
    background-color: #83b3d3;
    border-radius: 50%;
    border: none;
    padding: 0;

    &:hover .field-info-text {
      display: block;
    }
  }

  &-info-text {
    position: absolute;
    top: calc(100% + 15px);
    left: calc(50% - 128px);
    z-index: 1;
    display: none;
    width: 256px;
    padding: 15px 20px 23px;
    color: #ffffff;
    background-color: #333333;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 400;

    &::before {
      content: "";
      position: absolute;
      top: -9px;
      left: calc(50% - 10px);
      width: 19px;
      height: 9px;
    }

    &::after {
      content: "";
      position: absolute;
      top: -25px;
      right: 0;
      left: 0;
      height: 25px;
    }
  }
}

