.modal--error .modal__block {
    // border: 2px solid #ff4444;
    text-align: center;
}

.modal--error .modal__title-block {
    color: #ff4444;
    font-size: 24px;
    text-transform: uppercase;
    margin: 0 0 15px 0;
}

.modal--error .modal__icon {
    font-size: 40px;
    color: #ff4444;
    margin-bottom: 15px;
}