.modal--success .modal__block {
    text-align: center;
}

.modal--success .modal__title-block {
    font-size: 24px;
    text-transform: uppercase;
    margin: 0 0 15px 0;
}
.modal__title-block{
    text-align: center;
}