.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 4;
  
    // display: none;
    place-content: center;
  
    background-color: rgba(242, 242, 242, 0.8);
  }
  
  .modal-opened {
    display: grid;
  }
  
  .modal-container {
    display: grid;
    grid-template-columns: 1fr min-content;
    row-gap: 54px;
    width: 715px;
    padding: 70px;
    padding-top: 54px;
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 30px;
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
  }
  
  .modal-close {
    width: 53px;
    height: 53px;
    padding: 0;
  
    background-color: #f2f2f2;
    border: none;
    border-radius: 50%;
  }
  
  // .modal-close::after {
  //   content: "";
  
  //   display: block;
    
  // }
  
  .modal-close:hover,
  .modal-close:active {
    background-color: $whate;
  }
  
  .modal-close:active::after {
    opacity: 0.3;
  }
  
  .modal-close:focus:not(:active) {
    outline: 3px solid $blue;
    outline-offset: 0;
  }
  
  .modal-title {
    align-self: center;
    margin: 0;
  }
  
  .modal-content {
    position: relative;
    grid-column: 1 / -1;
  }

  .modal-close__icon {
    z-index: 6;
  }