.page {
    height: 100%;
    font-size: 18px;
    text-transform: uppercase;
    font-family: "PT Sans", "Arial", sans-serif;
    line-height: 26px;
  }
  
  .page__body {
    min-height: 100%;
    margin: 0;
    background-color: $whate;
    color: $black;
  }