.page-main__hotel-search {
    flex-grow: 1;
}

.page-main__header {
    padding: 35px 72px 82px;
    color: $whate;
    background-color: aqua;
}

.page-main__main-heading {
    margin: 0;
    font-size: 60px;
    line-height: 78px;
}