.page-main__breadcrumbs-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 43px;
    margin-left: 8px;
    padding: 0;

    font-size: 16px;
    line-height: 21px;

    list-style: none;
}

// .page-main__breadcrumbs-item + .page-main__breadcrumbs-item {
//     position: relative;
//     margin-left: 10px;
// }

// .page-main__breadcrumbs-item + .page-main__breadcrumbs-item::before {
//     content: "";
//     position: absolute;
//     top: calc(50% - 40%);
//     left: -7px;
//     width: 5px;
//     height: 8px;
// }

.breadcrumbs-item__breadcrumbs-link {
    display: flex;
    padding: 3px 8px;
    border-radius: 4px;
}

.breadcrumbs-item__link-home {
    width: 28px;
    height: 27px;
    
}