.page-footer__wrapper {
    text-align: center;
    @media (min-width: $tablet-width) {
        display: flex;
        justify-content: space-around;
        
      }
}

.page-footer__social {
    margin-top: 38px;
    @media (min-width: $tablet-width) {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 0;
      }
}

.page-footer__copyright {
    margin-top: 45px;
    padding-bottom: 26px;
    @media (min-width: $tablet-width) {
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0;
      }
}
