.photo-container {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 40px;
  text-align: center;


/* Базовые стили */
&__list {
  display: grid;
  margin: 0 auto;
  @media (min-width: 768px) {
    margin-left: 60px;
    margin-right: 60px;
  }

  @media (min-width: 1200px) {
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    margin: 0;
  }
}

/* Первая картинка на всю ширину */
&__item:first-child {
  grid-column: 1 / -1;
}

&__item {
  margin: 20px;
}

&__wrapper {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 30px;
  padding-bottom: 20px;
  br {
    display: none;
  }
  @media (min-width: $tablet-width) {
    br {
      display: block;
    }
  }
}

/* Сетка для трех колонок (только для элементов после первого) */
@media (min-width: 768px) {
  .photo-container__list {
    grid-template-columns: repeat(2, 1fr);
  }

  .photo-container__item {
    margin: 0;
    overflow: hidden;
    background-color: $lightgrey;
  }
}

@media (min-width: $desktop-width) {
  .photo-container__item {
    position: relative;
    display: inline-block;
  }
}

@media (min-width: $desktop-width) {
  .photo-container__list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 767px) {
  .photo-container__item:not(:first-child) {
    grid-column: 1 / -1;
  }
}

/* Стили изображений */
&__photo {
  width: 100%;
  object-fit: cover;
  display: block;
}

&__title {
  font-size: 18px;
  line-height: 26px;
  @media (min-width: $tablet-width) {
    font-size: 30px;
  }
}

&__intro {
  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }
}

/* Подписи */
&__caption {
  display: flex;
  flex-direction: column;

  @media (min-width: 768px) {
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-left: 20px;
  }
  @media (min-width: $desktop-width) {
    position: absolute;
    bottom: 0; /* Позиционирование снизу */
    left: -20px; /* Позиционирование слева */
    background-color: rgba(0, 0, 0, 0.7); /* Полупрозрачный черный фон */
    color: white; /* Белый текст */
    width: 100%;
    font-size: 14px;
    font-family: "PT Sans";
  }
}

&__description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-weight: bold;
  margin: 0;
  margin-top: 15px;

  @media (min-width: $desktop-width) {
    font-size: 14px;
    margin-left: 20px;
  }
}

&__author {
  font-weight: normal;
  margin-top: 15px;
  margin-bottom: 10px;
  text-transform: capitalize;

  @media (min-width: $desktop-width) {
    font-size: 14px;
  }
}

&__likes {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: flex-end;

  @media (min-width: $tablet-width) {
    margin-right: 20px;
  }
}

&__quantity {
  border: none;
  outline: none;
  background: inherit;
  font-weight: bold;
  margin-left: 15px;

  @media (min-width: $desktop-width) {
    color: $whate;
  }
}
}