  
  .site-list__item {
    height: 55px;
  }
  
  .site-list a {
    position: relative;
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 17px 21px;
    padding-bottom: 17px;
    font-size: 18px;
    line-height: 24px;
    color: $whate;
    text-transform: uppercase;
    text-decoration: none;
    background-color: $blue;
    border-top: 1px solid $whateblue;
    border-bottom: 1px solid $whateblue;

    @media (min-width: $tablet-width) { 
      background-color: $whate;
      border: none;
      color: $black;
      padding-left: 15px;
      padding-left: 15px;
    }
  }

  .site-list {
    font-weight: bold;
    
    @media (min-width: $tablet-width) {
      position: relative; 
      top: -60px;
      left: 150px;
      width: 372px;
      background-color: $whate;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
    }
    
    @media (min-width: $desktop-width) {
      width: 600px;
    }
  }

  
