.site-list {
    list-style-type: none;
    text-align: center;
    font-weight: bold;
    @media (min-width: $tablet-width) {
        width: 570px;
      }
      
      @media (min-width: $desktop-width) {
        width: 780px;
      }
    }

.site-list a {
    color: $whate;
    text-decoration: none;
    line-height: 24px;
}

.site-list__item {
    padding: 17px 21px;
    padding-bottom: 13px;
    font-size: 18px;
    border-top: 1px solid $whateblue;
    border-bottom: 1px solid $mediumblue;
}
  
