.social__list{
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    margin-top: 33px;
    padding: 0;
        @media (min-width: $tablet-width) {
            display: flex;
            margin: 0;
            padding: 0;
        }
}

.social__item{
    width: 46px;
    height: 48px;
    background-color: $blue;  
}

.social__icon-items {
    margin-top: 16px;
}

.copyright__text {
    margin-right: 5px;
}