.video__wrapper{
  width: 100%;
  margin: 0 auto;
  margin-bottom: 40px;
  text-align: center; 

  @media (min-width: $tablet-width) {
      min-width: 100%;
    }
}

.video-conteiner {
  // position: relative;
  // width: 100%;
  // max-width: 800px; /* Максимальная ширина контейнера */
  // margin: 0 auto;
  // overflow: hidden;
  @media (min-width: $tablet-width) {
  margin-left: 60px;
  margin-right: 60px;
  }
}

/* Основные стили для блока управления */
.video-controls {
  position: relative;
  top: -40px;
  left: 0;
  width: 100%;
  height: 70px;
  background: rgba(0, 0, 0, 0.7); /* Полупрозрачная плашка */
  display: flex;
  align-items: center;
  padding: 0 10px;
  box-sizing: border-box;
  @media (max-width: $tablet-width) {
      height: 40px;
      padding: 0 5px;
    }
    @media (max-width: $desktop-width) {
      top: -70px;
    }
}

.video__image {
  width: 100%;
  display: block;
}

/* Стили для кнопок */
.control-button {
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
  margin: 0 5px;
    
  @media (max-width: 600px) {
      font-size: 16px;
  }  
}

.control-button:hover {
  color: $whate;
}

/* Прогресс-бар */
.progress-bar {
  flex-grow: 1;
  height: 5px;
  background: rgba(255, 255, 255, 0.3);
  margin: 0 10px;
  position: relative;
  cursor: pointer;
  border-radius: 2px;
}

.progress {
  height: 100%;
  width: 30%; /* Текущий прогресс (можно менять динамически) */
  background: $whate;
  border-radius: 2px;
}

.scrubber {
  width: 10px;
  height: 10px;
  background: $whate;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 30%; /* Позиция бегунка (соответствует прогрессу) */
  transform: translate(-50%, -50%);
  cursor: pointer;
}

/* Адаптация для мобильных устройств */
@media (max-width: 600px) {

  .progress-bar {
    height: 3px;
  }

  .scrubber {
    width: 8px;
    height: 8px;
  }
}



// .video-play {
//     @media (min-width: $tablet-width) {
//         min-width: 100%;
//       }
//     }